<!DOCTYPE html>
<html lang="en">
<head>
	<title>p-recs | 5C Course Recommender</title>
	{% include 'head.html' %}
</head>
<body>
	<div class="flex-container">
		<div class="left-col">
			{% include 'search.html' %}
		</div>
		<div class="right-col">
			<!-- <p>Visualization of courses coming soon (real WIP screenshot)</p> -->
			{% set current_semester = current_semester %}
			{% include 'favorites.html' %}
		</div>
	</div>
	<div class="footer" style="display: flex; justify-content: space-between;">
		<p class="left-footer">&copy; Associated Students of Pomona College</p>
		<p class="right-footer">Created by <a href="https://pomonastudents.org/sdg">ASPC Software Development Group</a> and <a href="https://www.p-ai.org/">p-ai</a>.</p>
	</div>
</body>
</html>