<div style="display: flex; justify-content: center; align-items: center;">
    <a href="https://pomonastudents.org/">
        <img src="/static/aspc.png" alt="aspc" style="width: 85px; height: auto; margin-top: 4px;">
    </a>
    <h1 style="margin: 0 20px;">
        <a class="left-col" href="/">p-recs</a>
    </h1>
    <a href="https://www.p-ai.org/">
        <img src="/static/p-ai.png" alt="p-ai">
    </a>
</div>

<p>Discover your next class with p-recs! Simply type your interests, major or learning style and find the most relevant courses for you.</p>


<hr />

<form action="/rec" method="post">
  <div class="message-body">
    <!-- name`  attribute specifies the name of a form.  -->
    <!-- used to reference elements in JS OR
    to reference form data after a form is submitted -->

    <input
      type="text"
      name="search"
      id="searchBox"
      placeholder="discussion-based class on technology and ethics..."
    />
    <p>
      <a
        class="btn btn-outline-secondary"
        data-toggle="collapse"
        href="#course-filters"
        role="button"
        aria-expanded="false"
        aria-controls="collapseExample"
      >
        Filters
      </a>
    </p>
    <div class="collapse" id="course-filters">
      <div class="field">
        <label class="label">Department</label>
        <div class="control is-expanded">
          <div class="select is-fullwidth">
            <select name="department" id="department">
              <option value="">(any)</option>
              <option value="Accel Integrated Science">
                Accel Integrated Science
              </option>
              <option value="Aerospace Studies">Aerospace Studies</option>
              <option value="Africana Studies">Africana Studies</option>
              <option value="All Gend/Fem/Women Stds">
                All Gend/Fem/Women Stds
              </option>
              <option value="All Government/Politics">
                All Government/Politics
              </option>
              <option value="All Languages">All Languages</option>
              <option value="All Lit in Translation">
                All Lit in Translation
              </option>
              <option value="American Studies">American Studies</option>
              <option value="Anthropology">Anthropology</option>
              <option value="Applied Life Science">Applied Life Science</option>
              <option value="Arabic &amp; Arabic Transltn">
                Arabic &amp; Arabic Transltn
              </option>
              <option value="Art">Art</option>
              <option value="Art Conservation">Art Conservation</option>
              <option value="Art History">Art History</option>
              <option value="Arts Management">Arts Management</option>
              <option value="Asian American Studies">
                Asian American Studies
              </option>
              <option value="Asian Studies">Asian Studies</option>
              <option value="Astronomy">Astronomy</option>
              <option value="Biology">Biology</option>
              <option value="Botany">Botany</option>
              <option value="CMC Internship">CMC Internship</option>
              <option value="CMS Varsity Sports">CMS Varsity Sports</option>
              <option value="Chemistry">Chemistry</option>
              <option value="Chican@/Latin@ Transnatl">
                Chican@/Latin@ Transnatl
              </option>
              <option value="Chicanx-Latinx Studies">
                Chicanx-Latinx Studies
              </option>
              <option value="Chinese">Chinese</option>
              <option value="Chinese Lit, Engl Trans">
                Chinese Lit, Engl Trans
              </option>
              <option value="Classics">Classics</option>
              <option value="Community &amp; Global Healt">
                Community &amp; Global Healt
              </option>
              <option value="Computer Sci-Mathematics">
                Computer Sci-Mathematics
              </option>
              <option value="Computer Science">Computer Science</option>
              <option value="Core Lab (HMC)">Core Lab (HMC)</option>
              <option value="Creative Studies">Creative Studies</option>
              <option value="Cultural Studies">Cultural Studies</option>
              <option value="Dance">Dance</option>
              <option value="Data Science">Data Science</option>
              <option value="Digital Humanities">Digital Humanities</option>
              <option value="Economics">Economics</option>
              <option value="Education">Education</option>
              <option value="Engineering">Engineering</option>
              <option value="English or Engl Wrld Lit">
                English or Engl Wrld Lit
              </option>
              <option value="Environmental Analysis">
                Environmental Analysis
              </option>
              <option value="European Studies">European Studies</option>
              <option value="Fem,Gndr,Sex Studies">Fem,Gndr,Sex Studies</option>
              <option value="Finance Sequence">Finance Sequence</option>
              <option value="First Year Seminar">First Year Seminar</option>
              <option value="Foreign Languages">Foreign Languages</option>
              <option value="French">French</option>
              <option value="French Discussion Labs">
                French Discussion Labs
              </option>
              <option value="Freshman Humanities Sem">
                Freshman Humanities Sem
              </option>
              <option value="Freshman Writing Seminar">
                Freshman Writing Seminar
              </option>
              <option value="Gender &amp; Women's Studies">
                Gender &amp; Women's Studies
              </option>
              <option value="Gender/Feminist Studies">
                Gender/Feminist Studies
              </option>
              <option value="Gender/Women's/Fem. Stds">
                Gender/Women's/Fem. Stds
              </option>
              <option value="Geography">Geography</option>
              <option value="Geology">Geology</option>
              <option value="German">German</option>
              <option value="German Lit, Engl Trans">
                German Lit, Engl Trans
              </option>
              <option value="German Studies">German Studies</option>
              <option value="Government">Government</option>
              <option value="Hebrew">Hebrew</option>
              <option value="History">History</option>
              <option value="History of Ideas">History of Ideas</option>
              <option value="Human Resources Design">
                Human Resources Design
              </option>
              <option value="Humanities">Humanities</option>
              <option value="Humanities &amp; Soc Science">
                Humanities &amp; Soc Science
              </option>
              <option value="Humanities Major:Culture">
                Humanities Major:Culture
              </option>
              <option value="Information Science">Information Science</option>
              <option value="Inside Out">Inside Out</option>
              <option value="Integrative Experience">
                Integrative Experience
              </option>
              <option value="Interdisc./Other Science">
                Interdisc./Other Science
              </option>
              <option value="Interdisciplinry Studies">
                Interdisciplinry Studies
              </option>
              <option value="International Relations">
                International Relations
              </option>
              <option value="Intl/Intercultural Stds">
                Intl/Intercultural Stds
              </option>
              <option value="Italian">Italian</option>
              <option value="Japanese">Japanese</option>
              <option value="Japanese Lit, Engl Trans">
                Japanese Lit, Engl Trans
              </option>
              <option value="Jewish Studies">Jewish Studies</option>
              <option value="KGI School of Pharmacy">
                KGI School of Pharmacy
              </option>
              <option value="Keck Science Labs">Keck Science Labs</option>
              <option value="Korean &amp; Korean Transltn">
                Korean &amp; Korean Transltn
              </option>
              <option value="Languages and Literature">
                Languages and Literature
              </option>
              <option value="Late Antique-Medvl Stds">
                Late Antique-Medvl Stds
              </option>
              <option value="Latin American Studies">
                Latin American Studies
              </option>
              <option value="Leadership Studies">Leadership Studies</option>
              <option value="Legal Studies">Legal Studies</option>
              <option value="Linguistics">Linguistics</option>
              <option value="Linguistics &amp; Cog Sci">
                Linguistics &amp; Cog Sci
              </option>
              <option value="Literature">Literature</option>
              <option value="Management">Management</option>
              <option value="Master's in Finance">Master's in Finance</option>
              <option value="Mathemat/Comput Biology">
                Mathemat/Comput Biology
              </option>
              <option value="Mathematics">Mathematics</option>
              <option value="Media Studies">Media Studies</option>
              <option value="Middle Eastern Studies">
                Middle Eastern Studies
              </option>
              <option value="Mideast &amp; No Africa Stds">
                Mideast &amp; No Africa Stds
              </option>
              <option value="Military Sci.&amp;Leadership">
                Military Sci.&amp;Leadership
              </option>
              <option value="Modern Lang, Lit &amp; Cult">
                Modern Lang, Lit &amp; Cult
              </option>
              <option value="Molecular Biology">Molecular Biology</option>
              <option value="Munroe Ctr Social Inqry">
                Munroe Ctr Social Inqry
              </option>
              <option value="Music">Music</option>
              <option value="Natural Sci: Non-Majors">
                Natural Sci: Non-Majors
              </option>
              <option value="Neuroscience">Neuroscience</option>
              <option value="Ontario Program">Ontario Program</option>
              <option value="Organizational Studies">
                Organizational Studies
              </option>
              <option value="Persian">Persian</option>
              <option value="Philosophy">Philosophy</option>
              <option value="Philosophy,Politics,Econ">
                Philosophy,Politics,Econ
              </option>
              <option value="Physical Education">Physical Education</option>
              <option value="Physics">Physics</option>
              <option value="Political Studies">Political Studies</option>
              <option value="Politics">Politics</option>
              <option value="Politics &amp; Policy">
                Politics &amp; Policy
              </option>
              <option value="Politics/Int. Studies">
                Politics/Int. Studies
              </option>
              <option value="Portuguese">Portuguese</option>
              <option value="Portuguese in Translatn">
                Portuguese in Translatn
              </option>
              <option value="Psychology">Psychology</option>
              <option value="Public Policy Analysis">
                Public Policy Analysis
              </option>
              <option value="Religious Studies">Religious Studies</option>
              <option value="Romance Literatures">Romance Literatures</option>
              <option value="Russian">Russian</option>
              <option value="Russian Lit, Engl Trans">
                Russian Lit, Engl Trans
              </option>
              <option value="Science,Technlgy,Society">
                Science,Technlgy,Society
              </option>
              <option value="Secular Studies">Secular Studies</option>
              <option value="Self-Instr Lang Program">
                Self-Instr Lang Program
              </option>
              <option value="Senior Thesis">Senior Thesis</option>
              <option value="Social Science">Social Science</option>
              <option value="Sociology">Sociology</option>
              <option value="Spanish">Spanish</option>
              <option value="Spanish Lit, Engl Trans">
                Spanish Lit, Engl Trans
              </option>
              <option value="Speech">Speech</option>
              <option value="Swahili">Swahili</option>
              <option value="Theatre">Theatre</option>
              <option value="Transdisciplinary">Transdisciplinary</option>
              <option value="Writing">Writing</option>
              <option value="Spanish Discussion Labs">
                Spanish Discussion Labs
              </option>
              <option value="Cognitive Science">Cognitive Science</option>
              <option value="Critical Action Soc Advc">
                Critical Action Soc Advc
              </option>
              <option value="Critical Global Studies">
                Critical Global Studies
              </option>
              <option value="Global/Local Action Stdy">
                Global/Local Action Stdy
              </option>
              <option value="Nat Amer/Indigenous St">
                Nat Amer/Indigenous St
              </option>
              <option value="Scripps Post-bac">Scripps Post-bac</option>
              <option value="Climate&amp;EnvironmentalSci">
                Climate&amp;EnvironmentalSci
              </option>
              <option value="Entrepreneurship">Entrepreneurship</option>
              <option value="Integrated Sciences">Integrated Sciences</option>
            </select>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Meets on</label>
        <div class="field is-grouped checkboxes meets-on">
          <div class="control">
            <input
              class="is-checkradio is-block is-info"
              id="monday"
              type="checkbox"
              name="days"
              value="M"
              checked="checked" 
            />
            <label for="monday">Monday</label>
          </div>
          <div class="control">
            <input
              class="is-checkradio is-block is-info"
              id="tuesday"
              type="checkbox"
              name="days"
              value="T"
              checked="checked" 
            />
            <label for="tuesday">Tuesday</label>
          </div>
          <div class="control">
            <input
              class="is-checkradio is-block is-info"
              id="wednesday"
              type="checkbox"
              name="days"
              value="W"
              checked="checked" 
            />
            <label for="wednesday">Wednesday</label>
          </div>
          <div class="control">
            <input
              class="is-checkradio is-block is-info"
              id="thursday"
              type="checkbox"
              name="days"
              value="R"
              checked="checked" 
            />
            <label for="thursday">Thursday</label>
          </div>
          <div class="control">
            <input
              class="is-checkradio is-block is-info"
              id="friday"
              type="checkbox"
              name="days"
              value="F"
              checked="checked" 
            />
            <label for="friday">Friday</label>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">School</label>
        <div class="field is-grouped checkboxes colleges">
          <div class="control">
            <input
              class="is-checkradio is-block is-info"
              id="pomona"
              type="checkbox"
              name="campus"
              value="PO Campus"
              checked="checked" 
            />
            <label for="pomona" class="campus_PO">Pomona</label>
          </div>
          <div class="control">
            <input
              class="is-checkradio is-block is-info"
              id="claremont_mckenna"
              type="checkbox"
              name="campus"
              value="CM Campus"
              checked="checked" 
            />
            <label for="claremont_mckenna" class="campus_CM">CMC</label>
          </div>
          <div class="control">
            <input
              class="is-checkradio is-block is-info"
              id="harvey_mudd"
              type="checkbox"
              name="campus"
              value="HM Campus"
              checked="checked" 
            />
            <label for="harvey_mudd" class="campus_HM">HM</label>
          </div>
          <div class="control">
            <input
              class="is-checkradio is-block is-info"
              id="scripps"
              type="checkbox"
              name="campus"
              value="SC Campus"
              checked="checked" 
            />
            <label for="scripps" class="campus_SC">SC</label>
          </div>
          <div class="control">
            <input
              class="is-checkradio is-block is-info"
              id="pitzer"
              type="checkbox"
              name="campus"
              value="PZ Campus"
              checked="checked" 
            />
            <label for="pitzer" class="campus_PZ">PZ</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <input type="submit" value="Get recs" />

</form>
{% if error %}
<p class="error"><strong>Error:</strong> {{ error }} {% endif %}</p>
