<div style="display: flex; justify-content: center; align-items: center;">
    <a href="https://pomonastudents.org/">
        <img src="/static/aspc.png" alt="aspc" style="width: 85px; height: auto; margin-top: 4px;">
    </a>
    <h1 style="margin: 0 20px;">
        <a class="left-col" href="/">p-recs</a>
    </h1>
    <a href="/">
        <img src="/static/p-ai.png" alt="p-ai">
    </a>
</div>

<p>The 5Cs offer thousands of courses. Use p-recs to get course recommendations.</p>

<hr>

<form action="/rec" method="post">
    <!-- name`  attribute specifies the name of a form.  -->
    <!-- used to reference elements in JS OR
    to reference form data after a form is submitted -->
    <input type="text" name="search" id="searchBox" placeholder="Input a word or phrase">
    <!-- submit = button!; value = what shows up on the button-->
    <input type="submit" value="Get recs">
</form>
{% if error %}
<p class="error"><strong>Error:</strong> {{ error }}
    {% endif %}