<div style="display: flex; justify-content: center; align-items: center;">
    <a href="https://pomonastudents.org/">
        <img src="/static/aspc.png" alt="aspc" style="width: 85px; height: auto; margin-top: 4px;">
    </a>
    <h1 style="margin: 0 20px;">
        <a class="left-col" href="/">p-recs</a>
    </h1>
    <a href="https://www.p-ai.org/">
        <img src="/static/p-ai.png" alt="p-ai">
    </a>
</div>

<p style="margin-bottom: 4px">Discover your next class with p-recs! Simply type your interests, major or learning style and find the most relevant courses for you.</p>

<hr />

<form action="/rec" method="post">
  <div class="message-body">
    <!-- name`  attribute specifies the name of a form.  -->
    <!-- used to reference elements in JS OR
    to reference form data after a form is submitted -->

    <div style="display: flex; align-items: center;">
      <input
        type="text"
        name="search"
        id="searchBox"
        placeholder=""
        style="flex: 1; margin-right: 10px;"
        maxlength="100"
      />
      <div style="display: flex; align-items: center;">
        <a
          class="btn btn-outline-secondary"
          data-toggle="collapse"
          href="#course-filters"
          role="button"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          Filters
        </a>
      </div>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        // Define an array of predefined placeholders
        var placeholders = [
          "discussion-based class on technology and ethics...",
          "history of Latin American dance...",
          "collaborative class on environmental studies...",
          "discussion-based class on philosophy and ethics...",
          "genetics, biology, neuroscience + machine learning, computation, CS...",
          "Theatre film acting psychology cognitive science criminal...",
          "ethics and technology...",
          "Harry Potter...",
          "fortune cookie...",
        ];
      
        // Get the input element by its ID
        var searchBox = document.getElementById("searchBox");
      
        // Generate a random index to select a placeholder from the array
        var randomIndex = Math.floor(Math.random() * placeholders.length);
      
        // Set the generated placeholder for the input element
        searchBox.placeholder = placeholders[randomIndex];
      });
      </script>

    {% set department_list = [
      "Accel Integrated Science",
      "Aerospace Studies",
      "Africana Studies",
      "All Gend/Fem/Women Stds",
      "All Government/Politics",
      "All Languages",
      "All Lit in Translation",
      "American Studies",
      "Anthropology",
      "Applied Life Science",
      "Arabic & Arabic Transltn",
      "Art",
      "Art Conservation",
      "Art History",
      "Arts Management",
      "Asian American Studies",
      "Asian Studies",
      "Astronomy",
      "Biology",
      "Botany",
      "CMC Internship",
      "CMS Varsity Sports",
      "Chemistry",
      "Chican@/Latin@ Transnatl",
      "Chicanx-Latinx Studies",
      "Chinese",
      "Chinese Lit, Engl Trans",
      "Classics",
      "Community & Global Healt",
      "Computer Sci-Mathematics",
      "Computer Science",
      "Core Lab (HMC)",
      "Creative Studies",
      "Cultural Studies",
      "Dance",
      "Data Science",
      "Digital Humanities",
      "Economics",
      "Education",
      "Engineering",
      "English or Engl Wrld Lit",
      "Environmental Analysis",
      "European Studies",
      "Fem,Gndr,Sex Studies",
      "Finance Sequence",
      "First Year Seminar",
      "Foreign Languages",
      "French",
      "French Discussion Labs",
      "Freshman Humanities Sem",
      "Freshman Writing Seminar",
      "Gender & Women's Studies",
      "Gender/Feminist Studies",
      "Gender/Women's/Fem. Stds",
      "Geography",
      "Geology",
      "German",
      "German Lit, Engl Trans",
      "German Studies",
      "Government",
      "Hebrew",
      "History",
      "History of Ideas",
      "Human Resources Design",
      "Humanities",
      "Humanities & Soc Science",
      "Humanities Major:Culture",
      "Information Science",
      "Inside Out",
      "Integrative Experience",
      "Interdisc./Other Science",
      "Interdisciplinry Studies",
      "International Relations",
      "Intl/Intercultural Stds",
      "Italian",
      "Japanese",
      "Japanese Lit, Engl Trans",
      "Jewish Studies",
      "KGI School of Pharmacy",
      "Keck Science Labs",
      "Korean & Korean Transltn",
      "Languages and Literature",
      "Late Antique-Medvl Stds",
      "Latin American Studies",
      "Leadership Studies",
      "Legal Studies",
      "Linguistics",
      "Linguistics & Cog Sci",
      "Literature",
      "Management",
      "Master's in Finance",
      "Mathemat/Comput Biology",
      "Mathematics",
      "Media Studies",
      "Middle Eastern Studies",
      "Mideast & No Africa Stds",
      "Military Sci.&Leadership",
      "Modern Lang, Lit & Cult",
      "Molecular Biology",
      "Munroe Ctr Social Inqry",
      "Music",
      "Natural Sci: Non-Majors",
      "Neuroscience",
      "Ontario Program",
      "Organizational Studies",
      "Persian",
      "Philosophy",
      "Philosophy,Politics,Econ",
      "Physical Education",
      "Physics",
      "Political Studies",
      "Politics",
      "Politics & Policy",
      "Politics/Int. Studies",
      "Portuguese",
      "Portuguese in Translatn",
      "Psychology",
      "Public Policy Analysis",
      "Religious Studies",
      "Romance Literatures",
      "Russian",
      "Russian Lit, Engl Trans",
      "Science,Technlgy,Society",
      "Secular Studies",
      "Self-Instr Lang Program",
      "Senior Thesis",
      "Social Science",
      "Sociology",
      "Spanish",
      "Spanish Lit, Engl Trans",
      "Speech",
      "Swahili",
      "Theatre",
      "Transdisciplinary",
      "Writing",
      "Spanish Discussion Labs",
      "Cognitive Science",
      "Critical Action Soc Advc",
      "Critical Global Studies",
      "Global/Local Action Stdy",
      "Nat Amer/Indigenous St",
      "Scripps Post-bac",
      "Climate&EnvironmentalSci",
      "Entrepreneurship",
      "Integrated Sciences",
  ]  
    %}

    <!--  Note: filters: [course area, campuses, selected days] -->

    {% set selected_department = filters[0] if filters else ""  %}

    <div class="collapse" id="course-filters">
      <div class="field">
        <label class="label">Department</label>
        <div class="control is-expanded">
          <div class="select is-fullwidth">
            <select name="department" id="department">
              <option value="">(any)</option>
              {% for department in department_list %}
                <option value="{{ department }}" {% if selected_department == department %}selected{% endif %}>
                  {{ department }}
                </option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <!--  Use previous filters or default filters -->

      {% set days_default = ["1", "1", "1", "1", "1"]  %}
      {% set day_is_checked = filters[2] if filters else days_default%}
      {% set campus_default = ["1", "1", "1", "1", "1"]  %}
      {% set campus_is_checked = filters[1] if filters else campus_default%}
      
      <div class="field">
        <label class="label">Meets on</label>
        <div class="field is-grouped checkboxes meets-on">
          <div class="control">
            <input
              class="is-checkradio is-block is-info"
              id="monday"
              type="checkbox"
              name="days"
              value="M"
              {% if day_is_checked[0] == "1" %}checked="checked"{% endif %}
            />
            <label for="monday">Monday</label>
          </div>
          <div class="control">
            <input
              class="is-checkradio is-block is-info"
              id="tuesday"
              type="checkbox"
              name="days"
              value="T"
              {% if day_is_checked[1] == "1" %}checked="checked"{% endif %}
            />
            <label for="tuesday">Tuesday</label>
          </div>
          <div class="control">
            <input
              class="is-checkradio is-block is-info"
              id="wednesday"
              type="checkbox"
              name="days"
              value="W"
              {% if day_is_checked[2] == "1" %}checked="checked"{% endif %}
            />
            <label for="wednesday">Wednesday</label>
          </div>
          <div class="control">
            <input
              class="is-checkradio is-block is-info"
              id="thursday"
              type="checkbox"
              name="days"
              value="R"
              {% if day_is_checked[3] == "1" %}checked="checked"{% endif %}
            />
            <label for="thursday">Thursday</label>
          </div>
          <div class="control">
            <input
              class="is-checkradio is-block is-info"
              id="friday"
              type="checkbox"
              name="days"
              value="F"
              {% if day_is_checked[4] == "1" %}checked="checked"{% endif %}
            />
            <label for="friday">Friday</label>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">School</label>
        <div class="field is-grouped checkboxes colleges">
          <div class="control">
            <input
              class="is-checkradio is-block is-info"
              id="pomona"
              type="checkbox"
              name="campus"
              value="PO Campus"
              {% if campus_is_checked[0] == "1" %}checked="checked"{% endif %} 
            />
            <label for="pomona" class="campus_PO">Pomona</label>
          </div>
          <div class="control">
            <input
              class="is-checkradio is-block is-info"
              id="claremont_mckenna"
              type="checkbox"
              name="campus"
              value="CM Campus"
              {% if campus_is_checked[1] == "1" %}checked="checked"{% endif %} 
            />
            <label for="claremont_mckenna" class="campus_CM">CMC</label>
          </div>
          <div class="control">
            <input
              class="is-checkradio is-block is-info"
              id="harvey_mudd"
              type="checkbox"
              name="campus"
              value="HM Campus"
              {% if campus_is_checked[2] == "1" %}checked="checked"{% endif %} 
            />
            <label for="harvey_mudd" class="campus_HM">HM</label>
          </div>
          <div class="control">
            <input
              class="is-checkradio is-block is-info"
              id="scripps"
              type="checkbox"
              name="campus"
              value="SC Campus"
              {% if campus_is_checked[3] == "1" %}checked="checked"{% endif %} 
            />
            <label for="scripps" class="campus_SC">SC</label>
          </div>
          <div class="control">
            <input
              class="is-checkradio is-block is-info"
              id="pitzer"
              type="checkbox"
              name="campus"
              value="PZ Campus"
              {% if campus_is_checked[4] == "1" %}checked="checked"{% endif %} 
            />
            <label for="pitzer" class="campus_PZ">PZ</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <input type="submit" value="Get recs" />

</form>
{% if error %}
<p class="error"><strong>Error:</strong> {{ error }} {% endif %}</p>